* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* =============== common =============== */
a {
  text-decoration: none;
  color: currentColor;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  width: 205px;
  background: #2e80ce;
  border-radius: 30px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv2 {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.desc {
  margin-top: 18px;
  max-width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.cta {
  background: transparent;
  color: #575f66;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.cta:hover {
  background: #2e80ce;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

/* =============== header =============== */
.header {
  background: #10375c;
}

.header.fixed {
  position: sticky;
  top: -18px;
  z-index: 2;
}

.header .body {
  padding: 30px 0 12px;
  background: #10375c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav ul {
  display: flex;
  align-items: center;
}

.header .nav a,
.header .action .log-in {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  padding: 8px 21px;
}

.header .nav a.active {
  color: #fff;
  text-shadow: 0.5px 0 0 currentColor;
  display: flex;
  align-items: center;
}

.header .nav a.active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.header .nav a:hover,
.header .action .log-in:hover {
  color: #fff;
  /* font-weight: 400; */
  text-shadow: 0.5px 0 0 currentColor;
}

.header .action .btn-sign-up {
  display: inline-block;
  width: 104px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 44px;
}

/* =============== hero =============== */
.hero {
  background: #10375c;
  padding: 64px 0 110px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .content-block {
  width: 54%;
}

.hero .title {
  max-width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.hero .desc {
  margin-top: 22px;
  color: #c9d2da;
}

.hero .contact {
  margin-top: 38px;
}

.hero .call {
  margin-left: 38px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .img-block {
  width: 46%;
  display: flex;
  align-items: center;
}

.hero .img-block img:first-child {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: -6px;
  z-index: 1;
}

.hero .img-block img:last-child {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 0 6px 6px 0;
}

/* =============== services =============== */

.services .body {
  margin: 170px 0;
}

.services .heading-lv2 {
  text-align: center;
}

.services .desc {
  margin: 18px auto 0;
  text-align: center;
}

.services .content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services .img-service {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.services .list .item {
  display: flex;
  align-items: flex-start;
  width: 470px;
  height: 128px;
  padding: 21px 22px 20px;
}

.services .list .item:hover {
  box-shadow: 0px 14px 28px 0px #0000000d;
  cursor: pointer;
}

.services .icon {
  width: 60px;
  height: 60px;
  background: #eff6fd;
  color: #10375c;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px #0000000d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 0.25s;
}

.services .list .item:hover .icon {
  color: #fff;
  background: #2e80ce;
  box-shadow: 0px 8px 16px 0px #289bde26;
}

.services .item div {
  margin-left: 19px;
}

.services .item .title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.28;
}

.services .item .desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: left;
}

.services .btn {
  margin-top: 55px;
}

/* =============== work =============== */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work .work-list {
  margin-top: 86px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work .work-item {
  border: 16px solid #eaf6ff;
  padding: 43px 42px;
  cursor: pointer;
  transition: 0.25s;
}

.work .work-item:hover {
  border: 16px solid #2e80ce;
  margin: -16px 0 16px;
}

.work .work-item .title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.work .work-item .desc,
.work .work-item .learn {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work .work-item .desc {
  margin-top: 28px;
}

.work .work-item .learn {
  display: inline-block;
  margin-top: 18px;
}

/* =============== about =============== */
.about .body {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .media {
  width: 49%;
  height: 491px;
  position: relative;
}

.about .media img {
  object-fit: cover;
  border-radius: 6px;
}

.about .media img:first-child {
  width: 512px;
  height: 370px;
  box-shadow: 0px 14px 28px 0px #00000012;
}

.about .media img:last-child {
  width: 332px;
  height: 370px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.about .content {
  width: 41%;
}

.about .content .btn {
  margin-top: 55px;
}

/* =============== team =============== */
.team {
  margin-top: 170px;
}

.team .heading-lv2 {
  text-align: center;
}

.team .btn {
  display: block;
  margin: 38px auto 0;
}

.team .members {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team .member .dentist {
  background: #eaf6ff;
  padding-top: 28px;
  border-radius: 6px;
  overflow: hidden;
}

.team .member .thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.team .member:hover .thumb {
  transform: scale(1.1);
}

.team .name {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  text-align: center;
}

.team .member .desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
}

.team .cta-group {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.mobile {
  margin-top: 265px;
}

.mobile .body {
  position: relative;
  padding: 76px 70px 75px;
  background: #2e80ce;
  display: flex;
  justify-content: flex-end;
}

.mobile .phone {
  position: absolute;
  bottom: 0;
  left: 70px;
  cursor: pointer;
}

.mobile .heading-lv2 {
  max-width: 489px;
  color: #fff;
}

.mobile .desc {
  max-width: 100%;
  color: #fff;
  max-width: 587px;
}

.mobile .store {
  margin-top: 38px;
}

.mobile .ch-play {
  margin-right: 28px;
}
